body {
  background-image: url('../images/bc.jpg');
  overflow: hidden;
}

.prototype_11 {
  display: flex;
  margin: auto;
  width: auto;
  .letter {
    background-image: url('../images/let.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 110vh;
  }
}
